/* .PteMockInto2_main {
  padding: 1rem;
  height: 550px;
  overflow-y: scroll;
}

.PteMockInto2_main_points {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.PteMockInto2_main_points_inner {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
} */
