.SecTestPart1_main_top {
  padding: 1.3rem;
  background-color: var(--color-aliceblue);
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.SecTestPart1_main {
  background-color: var(--color-white);
  padding: 1rem;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 15px;
}
.SecTestPart1_content_main {
  background-color: var(--color-white);
  padding: 1rem;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.SecTestPart1_content_inner {
  border: 1px solid;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 50%;
}

.sectest_queans_top {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.sectest_queans_main {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.sectest_queans_label {
  width: 200px;
}

.secTestPart1_input_main {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.secTestPart1_input_inner {
  padding: 0.1rem;
  border-radius: 4px;
  border-color: cadetblue;
  /* width: 100%; */
}

.que_heading {
  font-style: italic;
  font-weight: 600;
}
.que_no {
  font-weight: 600;
}


@media screen and (max-width: 1000px) {
  .SecTestPart1_content_inner,
  .SecTestPart2_content_inner {
    max-width: 100% !important;
  }
}