.SecSpeakTestPart1_main_nav {
  background-color: var(--color-brand);
  color: var(--color-white);
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.SecSpeakTestPart1_nav_inner {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.SecSpeak_StartRecording_mic_main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 75px;
  background: #3398db;
  height: 150px;
  width: 150px;
  cursor: pointer;
}
.SecSpeak_StartRecording_mic_inner,
.SecSpeak_StopRecording_mic_inner,
.SecSpeak_PlayRecording_mic_inner {
  font-size: 15px;
  color: var(--color-white);
}
.SecSpeak_StopRecording_mic_main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 75px;
  background: rgb(215, 18, 18);
  height: 150px;
  width: 150px;
  cursor: pointer;
}
.SecSpeak_PlayRecording_mic_main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 75px;
  background: green;
  height: 150px;
  width: 150px;
  cursor: pointer;
}
