.PteMockTest1_head {
  background: whitesmoke;
  padding: 0.5rem 2rem;
  display: flex;
}

.blue_nav {
  /* background: #0281a4; */
  background: var(--color-brand);
  height: 2rem;
}

.PteIntro_main {
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border: 2px solid;
  margin: 2rem;
}

.PteIntro_table_main {
  display: flex;
  flex-direction: column;
}

.PteIntro_table_inner_top {
  display: flex;
  justify-content: center;
}

.PteIntro_table_inner {
  display: flex;
  border: 1px solid;
  width: 300px;
  background: lightgray;
  padding: 0.3rem;
}

.pteintro1_points {
  display: flex;
  gap: 0.5rem;
}

.PteMockInto2_main {
  padding: 1rem;
  height: 550px;
  overflow-y: scroll;
}

.PteMockInto2_main_points {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.PteMockInto2_main_points_inner {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
