@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,400;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Pacifico&family=Reem+Kufi:wght@400;500;600;700&family=Signika:wght@300;400;500;600;700&display=swap");

:root {
  --font-base: "Lato", sans-serif;
  /* --font-base: "Signika", sans-serif; */
  --font-alt: "Roboto", sans-serif;
  --color-golden: #dcca87;
  /* --color-main: #471a55;
  --color-light-main: #501861;
  --color-light: #9456a7; */
  --color-gray: #545454;
  --color-gray-light: #515151;
  --color-button: #e5e5e5;
  --color-grey: #aaaaaa;
  --color-lightgrey: #d3d3d3;
  --color-darkgrey: #a9a9a9;
  --color-white: #ffffff;
  --color-aliceblue: #f0f8ff;
  --color-black: #000;
  --color-light-gray: #898989;
  --color-section-bg: #e8f6f3;
  --color-light-black: #232323;
  --color-light-broun: #a3814f;
  --color-brand: #850b09;
  --color-indianred-shade: #b04848;
  --color-orange-yellow: #f8a427;
  --max-width: 1170px;
  --fixed-width: 620px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  font-family: var(--font-base);
  /* font-family: "Lato", sans-serif !important; */
  initial-scale: 1 !important;
}

body {
  font-family: var(--font-base);
}

figure {
  margin: 0px !important;
}

*,
::after,
::before {
  box-sizing: border-box;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.line {
  margin-top: 10px;
  /* margin-bottom: 15px; */
  background-color: var(--color-golden);
  width: 100%;
  height: 1px;
}

::selection {
  color: #fff;
  background: var(--color-brand);
  /* background: #471a55; */
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  /* border: 0; */
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  /* font-family: sans-serif; */
}

html {
  scroll-behavior: smooth;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

body {
  height: 100%;
  width: 100%;
  font-family: var(--font-base);
  margin: 0;
  padding: 0;
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 0.5px;
  font-weight: 400;
  position: relative;
  overflow-x: hidden;
  /* color: var(--color-gray-light); */
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}

/* input[type="checkbox"] {
  transform: scale(1.3);
} */

::-moz-selection {
  text-shadow: none;
}

::selection {
  text-shadow: none;
}

button:focus,
input:focus,
select:focus,
textarea:focus {
  outline: none !important;
}

textarea {
  resize: none;
  padding: 0.5rem;
  border: 2px solid;
}

a {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

a,
a:hover,
a:active,
a:focus {
  text-decoration: none;
  outline: none;
  color: var(--color-black);
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: var(--font-base), sans-serif;
  margin-top: 0;
}

h1,
.h1 {
  font-size: 2rem;
}

h2,
.h2 {
  font-size: 1.875rem;
}

h3,
.h3 {
  font-size: 1.75rem;
}

h4,
.h4 {
  font-size: 1.5rem;
}

h5,
.h5 {
  font-size: 1.25rem;
}

h6,
.h6 {
  font-size: 1.1rem;
}

p {
  font-family: var(--font-base), sans-serif;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 0.3em;
}

@media (min-width: 992px) {
  h1,
  .h1 {
    font-size: 3rem;
  }

  h2,
  .h2 {
    font-size: 2.25rem;
  }
}

/*  */
/* input {
  cursor: pointer;
} */
input,
select {
  border: 2px solid;
}
iframe {
  border: none;
  height: 170px;
  border-radius: 6px;
}

.btn {
  padding: 1rem;
  cursor: pointer;
  color: var(--color-white);
  font-weight: 900;
  background-color: var(--color-brand);
  border: none;
  border-radius: 10px;
  padding: 0.5rem 1rem;
  /* padding: 0.3rem 1rem; */
  text-transform: uppercase;
  word-spacing: 2px;
  letter-spacing: 2px;
  border: 2px solid var(--color-brand);
  font-size: 15px;
  transition: all ease-in 0.3s;
}
.btn:hover {
  background: var(--color-white);
  color: var(--color-brand);
}
.underline {
  width: 10rem;
  height: 0.25rem;
  background: var(--color-brand);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
  margin-top: 1rem;
}

.heading {
  display: flex;
  letter-spacing: 1px;
  gap: 0.5rem;
  font-weight: 700;
  justify-content: center;
  margin: 2rem 0px;
  margin-bottom: 0px;
  color: var(--color-brand);
}

.search_input {
  width: 100%;
  font-size: 20px;
  padding: 0.7rem;
}

.verticle_line {
  height: 25px;
  width: 2px;
  background-color: gray;
}

/* loader */
.loader {
  border: 16px solid var(--color-button);
  /* Light grey */
  border-top: 16px solid var(--color-brand);
  /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}
.loader1 {
  border: 16px solid var(--color-button);
  /* Light grey */
  border-top: 16px solid var(--color-brand);
  /* Blue */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
}

.model_sizing_video {
  width: 400px;
  padding: 1rem;
  display: flex;
  gap: 1rem;
  flex-direction: column;
}
@media screen and (max-width: 460px) {
  .model_sizing_video {
    width: 100%;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
